In [1]:
# IMPORT LIBRARIES

In [2]:
import pandas as pd
import os

In [3]:
# IMPORT MODULES

In [4]:
os.chdir('C:\\Users\\Chris.Cirelli\\Desktop\\Python Programming Docs\\GSU\\Sprint Project\\Docket-Sheet-Classification\\Modules')

import Step1_Module_Ngrams_FreqDist as stp1
# Module to Calculate Measurements of Central Tendancy
import Step2_P1_Module_Calculations_Central_Tendancy as stp2_cal_CT
# Module to Calculate Top Words
import Step2_P2_Module_Get_Top_Words as stp2_get_words

In [5]:
# IMPORT FREQUENCY DISTRIBUTION EXCEL FILE AS DATAFRAME

In [6]:
Bigrams = pd.read_excel(r'C:\Users\Chris.Cirelli\Desktop\Python Programming Docs\GSU\Sprint Project\Docket-Sheet-Classification\Result_Ngrams\Docketsheet_FreqDist_Bigrams_Average_appearance.xlsx')

In [7]:
Trigrams = pd.read_excel(r'C:\Users\Chris.Cirelli\Desktop\Python Programming Docs\GSU\Sprint Project\Docket-Sheet-Classification\Result_Ngrams\Docketsheet_FreqDist_Trigrams_Average_appearance.xlsx')

In [14]:
Quadgrams = pd.read_excel(r'C:\Users\Chris.Cirelli\Desktop\Python Programming Docs\GSU\Sprint Project\Docket-Sheet-Classification\Result_Ngrams\Docketsheet_FreqDist_Quadgrams_Average_appearance.xlsx')

In [16]:
Quadgrams.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,"('abacu', 'corpor', 'attach', 'text')",NaN,NaN,NaN,NaN,0.001684,NaN,NaN,NaN,NaN,NaN,NaN
1,"('abacu', 'corpor', 'discoveri', 'end')",NaN,0.008403,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"('abacu', 'corpor', 'first', 'interrogatori')",NaN,NaN,NaN,NaN,0.003367,NaN,NaN,NaN,NaN,NaN,NaN
3,"('abacu', 'corpor', 'lasai', 'brown')",NaN,NaN,NaN,NaN,0.001684,NaN,NaN,NaN,NaN,NaN,NaN
4,"('accord', 'frap', 'usca', 'mandat')",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.054054,NaN

In [7]:
'''OBSERVATIONS

1.) The index is no longer important, so any reference to the index will need to be moved to column 0. 
2.) Column 0 did not exist in our old dataframes. So now we will need to adjust our code to exclude column 0 within the sort. 
    So we will need to use a slicer everytime we rotate the dataframe to generate the calculations. 
3.) We don't know yet whether or not we can match a tuple directly with the list of tokenized words, i.e. can you match 
    a tuple with a list?
4.) We don't know if any of our threshholds make any sence, i.e. we haven't yet investigated the dataframes to see 
    what is a relevant % of frequency / presence. 






'''

In [8]:
# RUN FUNCTION TO GET TOP WORDS

In [9]:
def get_top_words_toggle_methodology(dataframe_freq_distribution, methodology_CT, methodology_top_words):
    '''
    FUNCTION_I:     get_Measurements_CentralTendancy
        Input       a.) The dataframe containing the word frequency distributions. b.) One of the below cal methodologies. sza
        Options     'CalculationI_homebrew_STDV', 
                    'CalculationII_AVG_not_zero', 
                    'CalculationIII_Correlation_Coefficient'
    
    FUNCTION_II:    get_top_words
        Input       a.) The dataframe containing the word frequency distribution, b.) One of the below methodologies, 
                    c.) The stage, which is defined within this namespace. 
        Options     'Top15_highest_STDV_homebrew', 
                    'Top15_highest_COCOEF', 
                    'Top5_highest_STDV_lowest_AVG', 
                    'Top5_highest_STDV_AVG_below_20prct', 
                    'Top5_lowest_STDV_highest_AVG', 
                    'Top5_lowest_COCOEF_highest_AVG'
    
    
    '''

    df_rename_cols = dataframe_freq_distribution.rename(index = str, columns = {
                                                                'Life Cycle Stage: 1.0': 1 , 'Life Cycle Stage: 2.0': 2, 
                                                                'Life Cycle Stage: 3.0': 3, 'Life Cycle Stage: 4.0':  4,
                                                                'Life Cycle Stage: 5.0': 5, 'Life Cycle Stage: 6.0':  6,
                                                                'Life Cycle Stage: 7.0': 7, 'Life Cycle Stage: 8.0':  8,
                                                                'Life Cycle Stage: 9.0': 9, 'Life Cycle Stage: 10.0': 10,
                                                                'Life Cycle Stage: 11.0': 11})
    
    # Create a new dataframe to capture the top words and set the index to 0-14
    df_top_words = pd.DataFrame({}, index = [x for x in range(0,15)])
    
    # Reset df_rename_cols to just the columns 0-11
    if len(df_rename_cols.columns) > 11:
        df_rename_cols = df_rename_cols.iloc[:, 0:11]
    
    # Keep Count of Life Cycle Stage
    Stage = ''

    # Iterative Function to Rotate Our Columns in Ascending Order. 
    for num in range(1,12):
        
        # Loop Starts at Life Cycle 1.  Set Condition that when it reaches 11 it stops. 
        if df_rename_cols.columns[0] != 101:
                       
            # Stage
            Stage = df_rename_cols.columns[0]
            
            # Calculate Measures of Central Tendancy
            df_with_measures_of_CT = stp2_cal_CT.get_Measurements_CentralTendancy(df_rename_cols, methodology_CT)
            
            # Get Top Words
            Top_words_all_calc = stp2_get_words.get_top_words(df_rename_cols, methodology_top_words, Stage)
            
            
            # Define the column name
            Col_name = str(Top_words_all_calc.columns[0])
            
            # Capture all rows and just the target column of the dataframe. 
            Top_words_target_stage = Top_words_all_calc.iloc[:,0]

            # Append to our dataframe that will be returned to the user the top 5 words for each Life Cycle Stage.  
            df_top_words[Col_name] = Top_words_target_stage
            
            # Reset df_rename_cols to just the columns 0-11
            if len(df_rename_cols.columns) > 11:
                df_rename_cols = df_rename_cols.iloc[:, 0:11]
            
            # Rename the first column to = num + 100.  Num = Original Col1 at each iteration.
            df_col_increased_by100 = df_rename_cols.rename(index = str, columns = {num: num+100})
            
            # With the first column renamed, sort ascending.  This will move the first column to the end. 
            df_rotate = df_col_increased_by100.sort_index(axis = 1, ascending = True)
            df_rename_cols = df_rotate
    
    return df_top_words

In [15]:
df_with_measures_CT = get_top_words_toggle_methodology(df_freqDist, 
                                                       'CalculationIII_Correlation_Coefficient', 
                                                       'Top5_lowest_COCOEF_highest_AVG')

In [16]:
df_with_measures_CT

,Life Cycle Stage: 1,Life Cycle Stage: 2,Life Cycle Stage: 3,Life Cycle Stage: 4,Life Cycle Stage: 5,Life Cycle Stage: 6,Life Cycle Stage: 7,Life Cycle Stage: 8,Life Cycle Stage: 9,Life Cycle Stage: 10,Life Cycle Stage: 11
0,thompson,defens,first,court,notic,submit,respons,attach,liabil,vacat,baverman
1,hight,second,repli,rule,day,text,liabil,within,assign,rule,judg
2,mcelroy,product,metro,partial,charl,judg,rudi,cost,plainitff,emerg,liabil
3,brittani,timothi,liabil,order,modifi,second,plainitff,refer,misstat,assign,tamica
4,bellow,modifi,offer,direct,liabil,consent,misstat,compani,affili,plainitff,plainitff
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# WRITE RESULTS TO A SINGLE EXCEL SHEET

In [10]:
os.chdir(r'C:\Users\Chris.Cirelli\Desktop\Python Programming Docs\GSU\Sprint Project\Docket-Sheet-Classification\Result_Files_Key_Word_Attempt_2')

In [11]:
stp1.write_to_excel(dataframe, 'name')

In [12]:
# READ BACK IN THE FILE JUST CREATED

In [13]:
df = pd.read_excel(r'C:\Users\Chris.Cirelli\Desktop\Python Programming Docs\GSU\Sprint Project\Docket-Sheet-Classification\Result_Files_Key_Word_Attempt_2\Top5_Key_words_03.11.2018_v3.xlsx')

In [15]:
# CREATE A LIST OF A SINGLE SET OF THE KEY WORDS

In [16]:
def get_key_word_set(key_word_dataframe):
    key_word_list = []
    for x in key_word_dataframe:
        word_list = list(key_word_dataframe[x])
        [key_word_list.append(x) for x in word_list]
    
    key_word_set = list(set(key_word_list))
    
    df = pd.DataFrame(key_word_set)

    return df

In [17]:
key_word_set = get_key_word_set(df)

In [18]:
st1.write_to_excel(key_word_set, 'Key_word_set_4_algorithm_input_03.11.2018_v3')